.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navy-500);
  padding: var(--spacing-150) var(--spacing-500);

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 1000;
}

/* *** */
.toggle {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
}

.nav {
  display: block;
}

.ul {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacing-400);
  height: 100%;
  list-style: none;
}

.link {
  color: #fff;
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;

  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: var(--spacing-025);
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: var(--spacing-025);
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.contactUs {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-150);
  color: #fff;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  border: calc(2 / 16 * 1rem) solid var(--blue-gray-200);
  border-radius: var(--radius-8);
  transition: background-color 0.3s ease-out;
  text-decoration: none;
}

.contactUsActive {
  background-color: var(--blue-gray-400);
}

.contactUs:hover {
  background-color: var(--blue-gray-400);
}

.langLinks {
  display: flex;
  gap: var(--spacing-125);
}

.langLink {
  padding: var(--spacing-125);
  color: #fff;
  cursor: pointer;
  background-color: var(--navy-600);
  border-radius: var(--radius-8);
  transition: background-color 0.2s ease-out;
  text-decoration: none;
}

.langLink:hover {
  background-color: #fff;
  color: var(--navy-600);
}

.activeLang {
  background-color: #fff;
  color: var(--navy-600);
}

/* quieries */
/* 980px */
@media (max-width: 61.25em) {
  /* .navContainer {
    position: relative;
  } */

  .toggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 80;
    left: 50%;
    transform: translate(-50%);
    display: none;
  }

  .navOpen {
    display: block;
  }

  .navClose {
    display: none;
  }

  .ul {
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--spacing-250);
    padding: var(--spacing-250) 0;
    width: 70vw;
    border-radius: var(--radius-12);
    background: rgba(77, 89, 110, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .link,
  .contactUs {
    height: 3rem;
  }
}
