.hero {
  background-image: url('../assets/images/HomeHeroBg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8rem 2rem;
  height: 100vh;
}

.hero::before {
  content: '';

  position: absolute;
  inset: 0;

  background: rgba(7, 24, 51, 0.3);
}

.content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);

  max-width: calc(800 / 16 * 1rem);

  text-align: center;
  color: #fff;
}

.title {
  font-size: clamp(1.6rem, 5vw, 4.5rem);
  font-weight: 500;
  line-height: 1.2;
}

.title span {
  color: var(--navy-500);
  font-weight: 800;
}

.description {
  max-width: calc(650 / 16 * 1rem);
  margin-bottom: 2.5rem;

  font-size: 1.2rem;
  line-height: 1.8;
}

.actions {
  display: flex;
  gap: 1rem;
}

.actions a {
  min-width: calc(170 / 16 * 1rem);
  padding: 1rem 2rem;

  border: 1px solid #fff;
  border-radius: var(--radius-8);

  background: transparent;
  color: #fff;

  cursor: pointer;
  transition: 0.3s;

  text-decoration: none;
}

.actions a:first-child {
  background: #0b2347;
  border-color: #0b2347;
}

.actions a:hover {
  transform: translateY(-3px);
}

/* *** */
@media (max-width: 48em) {
  .hero {
    flex-direction: column;
    height: auto;
  }

  .actions {
    flex-direction: column;
    width: 100%;
  }
}
