.langLinks {
  display: flex;
  gap: var(--spacing-125);
}

.langLink {
  padding: var(--spacing-125);
  color: #fff;
  cursor: pointer;
  background-color: var(--navy-600);
  border-radius: var(--radius-8);
  transition: background-color 0.2s ease-out;
}

.langLink:hover {
  background-color: #fff;
  color: var(--navy-600);
}

.activeLang {
  background-color: #fff;
  color: var(--navy-600);
}
