.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

.part {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.description {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
  color: var(--blue-gray-400);
  font-weight: 600;
}

.showAllButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--blue-gray-400);
  font-weight: 800;
  transition: color 0.8s ease;
  text-align: center;
}

.showAllButton::after {
  content: '→';
  margin-inline-start: var(--spacing-100);
}

[dir='rtl'] .showAllButton::after {
  content: '←';
}

.showAllButton:hover {
  color: var(--navy-500);
}
