.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: var(--spacing-150) var(--spacing-500);
}

/* *** */
.navContainer {
  display: flex;
  gap: var(--spacing-400);
}

.ul {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacing-400);
  height: 100%;
}

.link {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;

  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: var(--spacing-025);
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.contact-us {
}

/* *** */
.branding {
  display: flex;
  gap: var(--spacing-075);
  cursor: pointer;
}

.logoContainer {
  background-color: #fff;
  padding: var(--spacing-025);
  border-radius: var(--radius-6);
}

.logo {
  width: calc(40 / 16 * 1rem);
  height: calc(40 / 16 * 1rem);
}

.logoText {
  color: #fff;
  text-align: center;
}
